
@font-face {
  font-family: 'Forma DJR Micro';
  src: url('/fonts/FormaDJRMicro-Medium.woff2') format('woff2'),
       url('/fonts/FormaDJRMicro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Forma DJR Micro';
  src: url('/fonts/FormaDJRMicro-Regular.woff2') format('woff2'),
       url('/fonts/FormaDJRMicro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Forma DJR Micro', Arial, Helvetica, sans-serif;
}

.font-forma {
  font-family: 'Forma DJR Micro', Arial, Helvetica, sans-serif;
}
